* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

button {
  width: fit-content;
}

.card {
  background-color: blue;
  color: var(--color-primary);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid green;
}

/* p {
  color: blue;
} */

/* body header */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header,
main,
footer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header div:first-of-type a {
  text-decoration: none;
}

.goto {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.goto a:first-of-type {
  display: none;
}

.full-line {
  height: 1px;
  background: black;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

/* home page */
.hero-section {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem;
  padding: 2rem;
}

.hero-section > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-text {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.hero-section svg {
  height: 2rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.hero-section > div:first-of-type p {
  max-width: 300px;
}

.hero-display {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.hero-display > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-display > div:first-of-type {
  padding-top: 2.5rem;
}

.hero-display .card {
  aspect-ratio: 16/9;
  border-radius: 3px;
  display: flex;
  gap: 1rem;
}

.hero-display .card > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.card-header,
.card-description-large,
.card-description-small {
  border-radius: 3px;
  background: orange;
  opacity: 0.4;
}

/* dashboard page */

/* login */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  padding: 4rem 0;
}

.login > div:last-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* footer */
.hard-line {
  height: 1px;
  background: brown;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 4rem 1rem;
}

.footer-content > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-content > div:first-of-type div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-content > div:last-of-type div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* media queries */

@media (min-width: 640px) {
  .goto a:first-of-type {
    display: block;
  }

  main {
    gap: 3rem;
  }
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }

  .footer-content > div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }
}
