* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

input,
textarea,
select {
  font-size: 1em;
  background-color: #f8fafc;
  border: 1px solid #bed1e7;
  color: #030615;
  padding: 0.5rem 0.75rem;
  border-radius: 1px;
  width: 100%;
  /* max-width: fit-content; */
  outline: none;
  appearance: none;
}

button {
  background-color: #007bff; /* A pleasant blue */
  color: white; /* White text for contrast */
  padding: 10px 20px; /* Vertical and horizontal padding */
  border: none; /* Remove default border */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Indicate it's clickable */
  font-size: 16px; /* Readable font size */
  text-align: center; /* Center text within the button */
  text-decoration: none; /* Remove underline for anchor-styled buttons */
  display: inline-block; /* Allows padding and width to be applied correctly */
  transition: background-color 0.3s ease; /* Smooth hover effect */
  width: fit-content;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.text-medium {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.card {
  background-color: rgba(181, 181, 250, 0.496);
  padding: 1rem;
  border-radius: 0.25rem;
}

p {
  display: block;
  width: fit-content;
}

/* body header */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header,
main,
footer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header div:first-of-type a {
  text-decoration: none;
}

.goto {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.goto a:first-of-type {
  display: none;
}

.full-line {
  height: 1px;
  background: black;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

/* home page */
.hero-section {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem;
  padding: 2rem;
}

.hero-section > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-text {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.hero-section svg {
  height: 2rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.hero-section > div:first-of-type p {
  max-width: 300px;
}

.hero-display {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.hero-display > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-display > div:first-of-type {
  padding-top: 2.5rem;
}

.hero-display .card {
  aspect-ratio: 16/9;
  border-radius: 3px;
  display: flex;
  gap: 1rem;
}

.hero-display .card > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.card-header,
.card-description-large,
.card-description-small {
  border-radius: 1px;
  background: orange;
  opacity: 0.4;
}

.card-header {
  padding: 1rem 0;
  outline: 1px solid red;
}

.card-description-large {
  width: 80%;
  padding: 0.35rem 0;
}

.card-description-small {
  width: 64%;
  padding: 0.35rem 0;
}

.card-blank {
  flex: 1;
}

.card-square {
  background: lightcyan;
  border-radius: 2px;
  padding: 2rem 0;
  width: 30%;
}

.card-button-primary,
.card-button-secondary {
  border: none !important;
  box-shadow: none !important;
}

.card-button-primary {
  color: lightgreen;
  background: lightblue;
}

.card-button-secondary {
  color: black;
  background: lightyellow;
}

.card-button-primary:hover,
.card-button-secondary:hover {
  transform: none;
  opacity: 0.6;
}

/* dashboard page */

/* login */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  padding: 4rem 0;
}

.login > div:last-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* footer */
.hard-line {
  height: 1px;
  background: brown;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 4rem 1rem;
}

.footer-content > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-content > div:first-of-type div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-content > div:last-of-type div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* media queries */

@media (min-width: 640px) {
  .goto a:first-of-type {
    display: block;
  }

  main {
    gap: 3rem;
  }

  .hero-section {
    padding: 3rem;
  }

  .header-text {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero-section > div:first-of-type p {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .hero-section {
    padding: 6rem 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }

  .footer-content {
    flex-direction: row;
  }

  .footer-content > div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }
}
